body{
  margin: 0;
}
.main-flex{
  display:flex;
  align-items: center;
  gap: 100px;
  justify-content: flex-start;
  background-color: black;
  height: 70px;
}
.nav-links{
  display: flex;
  height: 40px;
  gap: 30px;
  align-items: center;
  color: white;
}
.right-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  color: white;
  padding-left: 350px;
}
.nav-links a{
  color: black;
  text-decoration: none;
  font-size: 20px;
  color: white;
}
#subscribe{
  font-size: 20px;
  color: white;
}
.fa-solid{
  color: white;
}
#fa-magnifying-glass{
  font-size: 15px;
}
#fa-circle-user{
  font-size: 100px;
}
#account{
  height: 40px;
}
#logo{
  height: 20px;
  padding-left: 40px;
}
#join{
  height: 50px;
  width: 120px;
  font-size: 18px;
  background-color: rgb(53, 128, 203);
  color: white;
  border-radius: 10px;
}
.grid-container{
  display: grid;
  grid-template-columns: 180px 180px 180px 180px;
  grid-template-rows: 180px 180px 180px 180px 180px;
  gap: 10px;
  background-color: rgb(1, 6, 19);
  padding: 20px;
}
.grid-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  border-color: rgb(149, 204, 9);
}

#one{
  grid-column: 1/2;
  grid-row: 1/2;
}
#two{
  grid-column: 2/4;
  grid-row: 1/2;
}
#three{
  grid-column: 4/5;
  grid-row: 1/3;
}
#four{
  grid-column: 1/4;
  grid-row: 2/4;
}
#five{
  grid-column: 4/5;
  grid-row: 3/4;
}
#six{
  grid-column: 1/3;
  grid-row: 4/6;
}
#seven{
  grid-column: 3/4;
  grid-row: 4/6;
}
#eight{
  grid-column: 4/5;
  grid-row: 4/6;
}


.flex-container{
  display: flex;
  column-gap: 40px;
  background-color: rgb(1, 6, 19);
  justify-content: center;
  align-items: center;
}
.grid-two{
  display: grid;
  grid-template-columns: 180px 180px 180px 180px;
  grid-template-rows: 180px 180px 180px 180px 180px;
  gap: 10px;
  margin-bottom: 0;
  background-color: rgb(1, 6, 19);
  padding: 20px;
}
.grid-two img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  border: 5px;
  border-color:5px solid rgb(139, 139, 6);
  clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0 100%);
}
.flex-video{
  display: flex;
  column-gap: 40px;
  background-color: rgb(1, 6, 19);
  justify-content: center;
  align-items: center;
}
#a{
  grid-column: 1/2;
  grid-row: 1/2;
}
#b{
  grid-column: 2/4;
  grid-row: 1/2;
}
#c{
  grid-column: 4/5;
  grid-row: 1/3;
}
#d{
  grid-column: 1/4;
  grid-row: 2/4;
}
#e{
  grid-column: 4/5;
  grid-row: 3/4;
}
#f{
  grid-column: 1/3;
  grid-row: 4/6;
}
#g{
  grid-column: 3/4;
  grid-row: 4/6;
}
#h{
  grid-column: 4/5;
  grid-row: 4/6;
}
#first{
  justify-items: center;
  padding-left: 25px;
}

.family{
  background-color: rgb(1, 6, 19);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
.family h1 {
  font-size: 3rem;
  letter-spacing: 2px;
  text-shadow: 0 0 10px white;
  color: white;
}

#countdown {
  font-size: 3rem;
  margin: 20px 0;
  background: white;
  padding: 20px 40px;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
}

.date {
  font-size: 1.5rem;
  color: #f39c12;
  text-align: center;
  margin-bottom: 20px;
}

.family-grid {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 30px;
}

.family-grid div {
  width: 300px;
  height: 450px;
  overflow: hidden;
  border-radius: 12px;
}

.family-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.family button {
  background: white;
  border-radius: 5px;
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  padding: 15px 30px;
  border: none;
}
button:hover {
  background:  rgb(53, 128, 203);
  color: white;
}
